.logocode {
    height: 100px;
}
.globo {
    height: 70px;
}
.alto {
    max-height: 600px;
}

a {
    text-decoration: none;
    color: black;
}
.csspregu {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='200' height='100' preserveAspectRatio='none' viewBox='0 0 200 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='200' height='100' x='0' y='0' fill='rgba(57%2c 38%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M189 88L156 121' stroke-width='10' stroke='url(%23SvgjsLinearGradient1051)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M52 30L-14 96' stroke-width='8' stroke='url(%23SvgjsLinearGradient1052)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M59 12L-1 72' stroke-width='8' stroke='url(%23SvgjsLinearGradient1051)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M44 97L7 134' stroke-width='10' stroke='url(%23SvgjsLinearGradient1052)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M32 32L-2 66' stroke-width='6' stroke='url(%23SvgjsLinearGradient1052)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M43 53L6 90' stroke-width='6' stroke='url(%23SvgjsLinearGradient1051)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='200' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1051'%3e%3cstop stop-color='rgba(111%2c 74%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(111%2c 74%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1052'%3e%3cstop stop-color='rgba(111%2c 74%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(111%2c 74%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    color: azure;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: -5px 4px 1px #ffc804;
}
.csspregu:hover {
    box-shadow: -6px 6px 10px #ffc804;
    transition-duration: 0.5s;
}
.cssshowproblem {
    background-image: linear-gradient(#dbdbdb 1px, transparent 1px),
        linear-gradient(to right, #dbdbdb 1px, transparent 1px);
    background-size: 23px 23px;
    background-color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;

    max-height: 600px;
    border: 2px inset rgb(180, 0, 0);
}
.navfondo {
    /* background: rgb(47,3,0);
    background: linear-gradient(0deg, rgba(47,3,0,1) 0%, rgba(107,6,0,1) 37%, rgba(189,11,0,1) 84%); */
    /* clip-path: polygon(88% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 66% 0); */
    font-family: "Lucida Console", Monaco, monospace;
    height: 150px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1950' height='150' preserveAspectRatio='none' viewBox='0 0 1000 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1067%26quot%3b)' fill='none'%3e%3crect width='1000' height='100' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1033.3333333333335 100L0 100 L0 43.68Q36.63 -3.02%2c 83.33333333333334 33.61Q136.03 2.97%2c 166.66666666666669 55.66Q205.18 10.84%2c 250.00000000000003 49.35Q284.69 0.7%2c 333.33333333333337 35.39Q375.69 -5.59%2c 416.66666666666674 36.77Q466.35 3.12%2c 500.0000000000001 52.81Q533.38 2.86%2c 583.3333333333335 36.24Q610.59 13.5%2c 633.3333333333335 40.76Q663.69 21.12%2c 683.3333333333335 51.48Q715.3 0.11%2c 766.6666666666669 32.07Q815.17 -2.76%2c 850.0000000000002 45.75Q885.28 -2.31%2c 933.3333333333336 32.97Q965.32 14.96%2c 983.3333333333336 46.94Q1005.22 18.83%2c 1033.3333333333335 40.72z' fill='rgba(165%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1033.3333333333335 100L0 100 L0 50.64Q31.55 32.19%2c 50 63.73Q70.72 34.45%2c 100 55.16Q140.3 12.12%2c 183.33333333333334 52.42Q232.74 18.49%2c 266.6666666666667 67.89Q309.74 27.63%2c 350 70.71Q383.9 21.28%2c 433.33333333333337 55.18Q479.17 17.68%2c 516.6666666666667 63.52Q536.4 33.25%2c 566.6666666666667 52.98Q597.06 33.37%2c 616.6666666666667 63.76Q661.87 25.63%2c 700.0000000000001 70.84Q732.98 20.49%2c 783.3333333333335 53.47Q828.65 15.45%2c 866.6666666666669 60.76Q909.81 20.57%2c 950.0000000000002 63.71Q984.32 14.7%2c 1033.3333333333335 49.02z' fill='rgba(119%2c 7%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1000.0000000000002 100L0 100 L0 87.47Q42.5 46.64%2c 83.33333333333334 89.14Q99.65 55.45%2c 133.33333333333334 71.77Q180.79 35.9%2c 216.66666666666669 83.36Q253.25 36.61%2c 300 73.19Q323.48 46.66%2c 350 70.14Q400.81 37.62%2c 433.33333333333337 88.43Q451.2 56.3%2c 483.33333333333337 74.17Q524.45 31.95%2c 566.6666666666667 73.06Q616.36 39.42%2c 650.0000000000001 89.11Q671.85 60.96%2c 700.0000000000001 82.8Q733.34 32.81%2c 783.3333333333335 66.15Q833.86 33.34%2c 866.6666666666669 83.86Q906.07 39.93%2c 950.0000000000002 79.33Q968.55 47.88%2c 1000.0000000000002 66.42z' fill='rgba(111%2c 6%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1000.0000000000001 100L0 100 L0 100.24Q27.34 77.58%2c 50 104.92Q82.29 53.87%2c 133.33333333333334 86.16Q177.91 47.41%2c 216.66666666666669 91.99Q264.38 56.37%2c 300 104.09Q323.02 77.12%2c 350 100.14Q383.13 49.93%2c 433.33333333333337 83.06Q479.82 46.21%2c 516.6666666666667 92.7Q547.67 73.7%2c 566.6666666666667 104.7Q591 79.03%2c 616.6666666666667 103.37Q635.83 72.53%2c 666.6666666666667 91.7Q689.75 64.78%2c 716.6666666666667 87.87Q766.16 54.03%2c 800.0000000000001 103.53Q821.21 74.73%2c 850.0000000000001 95.94Q869.5 65.44%2c 900.0000000000001 84.94Q935.56 70.5%2c 950.0000000000001 106.06Q965.28 71.34%2c 1000.0000000000001 86.62z' fill='rgba(77%2c 4%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1067'%3e%3crect width='1000' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* background-size: cover; */
}

.navtext {
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 20px;
    /* box-shadow: 3px 7px 1px #ffc804; */
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.navtextbg {
    color: rgb(78, 51, 16);
    background-color: #fee703;
    box-shadow: 3px 7px 1px #7e6300;
}
.navtextsalibg {
    color: rgb(78, 51, 16);
    background-color: #cc2525;
    box-shadow: 4px 4px 1px #590000;
}
.navtextsalibg:hover {
    box-shadow: 2px 2px 5px #ff0000;
}
.navtextsalibg a:hover {
    color: black;
}
.cssnamebg {
    color: rgb(255, 255, 255);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='370' height='100' preserveAspectRatio='none' viewBox='0 0 200 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1614%26quot%3b)' fill='none'%3e%3crect width='200' height='100' x='0' y='0' fill='url(%23SvgjsLinearGradient1615)'%3e%3c/rect%3e%3cpath d='M55 80L146 79' stroke-width='10' stroke='url(%23SvgjsLinearGradient1616)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M117 43L39 42' stroke-width='6' stroke='url(%23SvgjsLinearGradient1617)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M167 42L115 41' stroke-width='10' stroke='url(%23SvgjsLinearGradient1617)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1614'%3e%3crect width='200' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='12.5%25' y1='-25%25' x2='87.5%25' y2='125%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1615'%3e%3cstop stop-color='rgba(151%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(41%2c 12%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1616'%3e%3cstop stop-color='rgba(160%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(160%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1617'%3e%3cstop stop-color='rgba(160%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(160%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    box-shadow: 3px 3px 3px #e77171;
}
.icopartici {
    height: 35px;
}
.btnenviar{
    padding:  10px 5px;
    border: none;
    border-radius: 10px;
    background-color: #cce5e4;
}
.btnenviar:hover{
    background-color: #aff2f0;
}
/* ------------------------------------- */
.cssloginbg {
    /* background-color: #4f4f4f; */
    /* background-size: cover; */
    height: 100vh;
}
.csslogindiv {
    padding: 40px;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='500' preserveAspectRatio='none' viewBox='0 0 500 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1385%26quot%3b)' fill='none'%3e%3crect width='500' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient1386)'%3e%3c/rect%3e%3cpath d='M71.54 390.95L136.49 428.45L136.49 503.45L71.54 540.95L6.59 503.45L6.59 428.45zM266.4 278.45L331.36 315.95L331.36 390.95L266.4 428.45L201.45 390.95L201.45 315.95zM461.26 390.95L526.22 428.45L526.22 503.45L461.26 540.95L396.31 503.45L396.31 428.45z' stroke='rgba(255%2c 255%2c 255%2c 0)' stroke-width='2'%3e%3c/path%3e%3cpath d='M39.08 367.34L100.57 402.84L100.57 473.84L39.08 509.34L-22.41 473.84L-22.41 402.84zM100.57 473.84L162.06 509.34L162.06 580.34L100.57 615.84L39.08 580.34L39.08 509.34zM223.55 47.84L285.04 83.34L285.04 154.34L223.55 189.84L162.06 154.34L162.06 83.34zM162.06 154.34L223.55 189.84L223.55 260.84L162.06 296.34L100.57 260.84L100.57 189.84zM223.55 473.84L285.04 509.34L285.04 580.34L223.55 615.84L162.06 580.34L162.06 509.34zM285.04 -58.66L346.53 -23.16L346.53 47.84L285.04 83.34L223.55 47.84L223.55 -23.16zM346.53 47.84L408.02 83.34L408.02 154.34L346.53 189.84L285.04 154.34L285.04 83.34zM285.04 154.34L346.53 189.84L346.53 260.84L285.04 296.34L223.55 260.84L223.55 189.84zM592.49 47.84L653.98 83.34L653.98 154.34L592.49 189.84L531 154.34L531 83.34zM531 154.34L592.49 189.84L592.49 260.84L531 296.34L469.51 260.84L469.51 189.84zM592.49 260.84L653.98 296.34L653.98 367.34L592.49 402.84L531 367.34L531 296.34zM531 367.34L592.49 402.84L592.49 473.84L531 509.34L469.51 473.84L469.51 402.84zM592.49 473.84L653.98 509.34L653.98 580.34L592.49 615.84L531 580.34L531 509.34z' stroke='rgba(255%2c 183%2c 66%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1385'%3e%3crect width='500' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1386'%3e%3cstop stop-color='rgba(105%2c 64%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(50%2c 30%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='500' preserveAspectRatio='none' viewBox='0 0 500 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1459%26quot%3b)' fill='none'%3e%3crect width='500' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient1460)'%3e%3c/rect%3e%3cpath d='M71.54 390.95L136.49 428.45L136.49 503.45L71.54 540.95L6.59 503.45L6.59 428.45zM266.4 278.45L331.36 315.95L331.36 390.95L266.4 428.45L201.45 390.95L201.45 315.95zM461.26 390.95L526.22 428.45L526.22 503.45L461.26 540.95L396.31 503.45L396.31 428.45z' stroke='rgba(255%2c 255%2c 255%2c 0)' stroke-width='2'%3e%3c/path%3e%3cpath d='M39.08 367.34L100.57 402.84L100.57 473.84L39.08 509.34L-22.41 473.84L-22.41 402.84zM100.57 473.84L162.06 509.34L162.06 580.34L100.57 615.84L39.08 580.34L39.08 509.34zM223.55 47.84L285.04 83.34L285.04 154.34L223.55 189.84L162.06 154.34L162.06 83.34zM162.06 154.34L223.55 189.84L223.55 260.84L162.06 296.34L100.57 260.84L100.57 189.84zM223.55 473.84L285.04 509.34L285.04 580.34L223.55 615.84L162.06 580.34L162.06 509.34zM285.04 -58.66L346.53 -23.16L346.53 47.84L285.04 83.34L223.55 47.84L223.55 -23.16zM346.53 47.84L408.02 83.34L408.02 154.34L346.53 189.84L285.04 154.34L285.04 83.34zM285.04 154.34L346.53 189.84L346.53 260.84L285.04 296.34L223.55 260.84L223.55 189.84zM592.49 47.84L653.98 83.34L653.98 154.34L592.49 189.84L531 154.34L531 83.34zM531 154.34L592.49 189.84L592.49 260.84L531 296.34L469.51 260.84L469.51 189.84zM592.49 260.84L653.98 296.34L653.98 367.34L592.49 402.84L531 367.34L531 296.34zM531 367.34L592.49 402.84L592.49 473.84L531 509.34L469.51 473.84L469.51 402.84zM592.49 473.84L653.98 509.34L653.98 580.34L592.49 615.84L531 580.34L531 509.34z' stroke='rgba(189%2c 11%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1459'%3e%3crect width='500' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1460'%3e%3cstop stop-color='rgba(189%2c 11%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(52%2c 3%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* border: 10px solid rgb(10, 255, 100); */
    border-radius: 30px;
    box-shadow: 0px 0px 50px #470000;
    background-size: cover;

    font-family: "Comic Sans MS", cursive, sans-serif;
}
.csslogindiv label {
    color: rgb(255, 255, 255);
}
.csslogindiv input {
    /* border-radius: 25px; */
    /* background-color: #FEE703; */
    background-color: #ffffff;
    border: none;
    padding: 15px;
    color: #470000;
    letter-spacing: 5px;
    /* font-size: 30px; */
}
.csslogindiv input:hover {
    /* background-color: transparent;
    border: none; */
    box-shadow: 5px 5px 3px #fdc604;
    transition: 0.5s;
    /* border-bottom: 5px solid rgb(0, 0, 0);  */
}
.csslogindiv input:focus {
    /* background-color: transparent;
    border: none; */
    outline: inherit;
    box-shadow: 5px 5px 10px #fdc604;
    transition: 0.5s;
    /* border-bottom: 5px solid rgb(0, 0, 0);  */
}

.csslogindiv button {
    background-color: transparent;
    color: #fff;
    border: 3px solid #a20500;
    padding: 8px 0px;
    /* border-radius: 25px; */
}
.csslogindiv button:hover {
    /* background-color: #FDC604; */
    /* color: rgb(78, 52, 0); */
    /* border: 1px solid rgb(255, 170, 66); */
    border-radius: 50px 0px 50px 0px;
    transition: 0.3s;
}
